.page-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5rem auto 5rem;
    grid-template-areas: 
                    "nav"
                    "main"
                    "footer";
    width: 100vw;
    height: 100vh;
}

.header-container {
    grid-area: nav;
}

.main-content { 
    grid-area: main;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
}

.footer-container {
    grid-area: footer;
}

.drag-box, .display {
    grid-area: 1/1/3/3;
}

.display {
    background-color: lightgray;
    height: 400px;
}
